:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --tertiary-text-color: #ffffff;
  --logo-text-color: #2196f3;
  --accent-color: #000000;
  --active-link-color: #2196f3;
  --active-link-hero-color: #188ce8;
  --footer-address-text-color: #ffffff99;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #f5f4fa;
  --primary-border-features: 1px solid #ececec;
  --secondary-border-features: 1px solid #eeeeee;
  --main-fz: 14px;
  --auxiliary-fz: 16px;
  --title-fz: 36px;
  --hero-fz: 44px;
  --mobile-fz: 40px;
  --mobile-contacts-fz: 34px;
  --special-fz: 18px;
  --minute-fz: 12px;
  --occasional-fz: 26px;
  --title-mob-tab-fz: 28px;
  --mob-tab-fz: 24px;
  --modal-fz: 20px;
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-hero: 900;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  margin: 0;
  padding: 0;
  outline: none;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.container--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-family: inherit;
  font-size: var(--auxiliary-fz);
  font-weight: var(--fw-bold);
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-text-color);
  background-color: var(--active-link-color);
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
}

.section {
  padding: 60px 0;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.header {
  border-bottom: var(--primary-border-features);
  position: relative;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0;
  }
}

.link-list {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 88px;
}
@media screen and (max-width: 767px) {
  .link-list {
    display: none;
  }
}

.link-list__name {
  position: relative;
}
.link-list__name:not(:last-child) {
  margin-right: 50px;
}

.link-list__item {
  font-weight: var(--fw-medium);
  font-size: var(--main-fz);
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-list__item:hover, .link-list__item:focus {
  color: var(--active-link-color);
}
.link-list__item--current {
  color: var(--active-link-color);
}
.link-list__item--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-link-color);
}

.contact-list {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .contact-list {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    align-items: center;
  }
}

.contact-list__icon {
  margin-right: 8px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__item:hover .contact-list__icon, .contact-list__item:focus .contact-list__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .contact-list__icon {
    margin-right: 10px;
  }
}

.contact-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--fw-medium);
  font-size: var(--minute-fz);
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__item:hover, .contact-list__item:focus {
  color: var(--active-link-color);
}
@media screen and (min-width: 1200px) {
  .contact-list__item {
    font-size: var(--main-fz);
    line-height: 1.1428571429;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__name:not(:last-child) {
    margin-right: 50px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: var(--fw-bold);
  font-size: var(--mob-tab-fz);
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
  text-decoration: none;
}
.logo__accent {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: var(--occasional-fz);
    line-height: 1.3846153846;
  }
}

.menu-toggle {
  position: absolute;
  top: 11px;
  right: 11px;
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--active-link-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--primary-background-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-list__name:not(:first-child) {
  margin-top: 32px;
}

.mobile-list__item {
  font-weight: var(--fw-medium);
  font-size: var(--mobile-fz);
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-list__item:hover, .mobile-list__item:focus {
  color: var(--active-link-color);
}
.mobile-list__item--current {
  color: var(--active-link-color);
}

.mobile-contacts {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 32px;
}

.mobile-contacts__icon {
  display: none;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__item:hover .mobile-contacts__icon, .contact-list__item:focus .mobile-contacts__icon {
  fill: currentColor;
}

.mobile-contacts__item {
  font-weight: var(--fw-medium);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contacts__item:hover, .mobile-contacts__item:focus {
  color: var(--active-link-color);
}

.mobile-contacts__name {
  font-size: var(--mobile-contacts-fz);
  line-height: 1.1764705882;
}
@media screen and (max-width: 479px) {
  .mobile-contacts__name {
    font-size: var(--mob-tab-fz);
    line-height: 1.1666666667;
  }
}

.mobile-contacts__name:first-child {
  font-size: var(--mob-tab-fz);
  line-height: 1.1666666667;
  margin-top: 32px;
}

.menu-network {
  display: flex;
  margin-top: 64px;
}
@media screen and (max-width: 479px) {
  .menu-network {
    flex-direction: column;
    gap: 8px;
  }
}

.menu-network__item:nth-child(1) {
  padding-right: 10px;
}
@media screen and (min-width: 480px) {
  .menu-network__item:nth-child(1) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
@media screen and (max-width: 479px) {
  .menu-network__item:nth-child(1) {
    padding-left: 10px;
  }
}

.menu-network__item:nth-child(2) {
  padding: 0 10px;
}
@media screen and (min-width: 480px) {
  .menu-network__item:nth-child(2) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.menu-network__item:nth-child(3) {
  padding: 0 10px;
}
@media screen and (min-width: 480px) {
  .menu-network__item:nth-child(3) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.menu-network__item:nth-child(4) {
  padding-left: 10px;
}

.menu-network__link {
  text-decoration: none;
  font-weight: var(--fw-medium);
  font-size: var(--special-fz);
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--active-link-color);
}

.hero,
.footer {
  background-color: var(--secondary-background-color);
}

.hero {
  padding: 118px 0;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero/hero-mobile2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero/hero-tablet2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero/bg-hero-img.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero/bg-hero-img2x.jpg);
  }
}
.hero__title {
  margin-bottom: 30px;
  font-weight: var(--fw-hero);
  font-size: var(--occasional-fz);
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: var(--hero-fz);
    line-height: 1.3636363636;
  }
}
.hero__btn {
  padding: 10px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--active-link-hero-color);
}
@media screen and (min-width: 768px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.benefit {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefit {
    padding-bottom: 0;
  }
}
.benefit__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.benefit__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: var(--tertiary-background-color);
}
.benefit__title {
  font-weight: var(--fw-bold);
  font-size: var(--main-fz);
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .benefit__title {
    text-align: start;
  }
}
.benefit__description {
  font-size: var(--main-fz);
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.benefit__item {
  height: 100%;
}
@media screen and (min-width: 768px) {
  .benefit__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefit__item {
    width: calc((100% - 90px) / 4);
  }
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities__title {
  font-weight: var(--fw-bold);
  font-size: var(--title-fz);
  line-height: 1.1719444444;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0 auto 50px;
}

.activities__list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.activities__thumb {
  position: relative;
}

.activities__text {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--fw-bold);
  font-size: var(--main-fz);
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  color: var(--tertiary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.teem {
  background-color: var(--tertiary-background-color);
}

.teem__title,
.clients__title {
  margin: 0 auto 30px;
  font-weight: var(--fw-bold);
  font-size: var(--title-mob-tab-fz);
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .teem__title,
.clients__title {
    margin: 0 auto 50px;
    font-size: var(--title-fz);
    line-height: 1.1666666667;
  }
}

.teem__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.teem__card {
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .teem__card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .teem__card {
    width: calc((100% - 90px) / 4);
  }
}

.teem__member {
  margin-bottom: 10px;
  font-weight: var(--fw-medium);
  font-size: var(--auxiliary-fz);
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.teem__position {
  font-size: var(--auxiliary-fz);
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.teem__wrap {
  padding: 30px 0 24px;
}
@media screen and (min-width: 1200px) {
  .teem__wrap {
    padding: 30px 0;
  }
}

.teem__icon {
  width: 100%;
}

.network__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network__link:hover, .network__link:focus {
  background-color: var(--active-link-color);
}

.network__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network__link:hover .network__icon, .network__link:focus .network__icon {
  fill: var(--tertiary-text-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  height: 92px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--primary-background-color);
  border: 1px solid #afb1b8;
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--active-link-color);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--active-link-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 450px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-background-color);
  opacity: 1;
}
@media screen and (max-width: 479px) {
  .modal {
    width: auto;
    padding: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.close__btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close__icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.close__btn:focus .close__icon, .close__btn:hover .close__icon {
  fill: var(--active-link-color);
}

.modal__title {
  font-weight: var(--fw-bold);
  font-size: var(--modal-fz);
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}

.form__wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__icon {
  position: absolute;
  bottom: 22px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__icon, .form__input:hover + .form__icon {
  fill: var(--active-link-color);
}

.form__label {
  margin-bottom: 4px;
  font-size: var(--minute-fz);
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form__input {
  margin-bottom: 10px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus, .form__input:hover {
  border-color: var(--active-link-color);
}

.form__comment {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.form__comment:focus, .form__comment:hover {
  border-color: var(--active-link-color);
}
.form__comment::placeholder {
  font-size: var(--minute-fz);
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 30px;
}

.check__label {
  display: flex;
  align-items: center;
  font-size: var(--minute-fz);
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 479px) {
  .check__label {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .check__label {
    font-size: var(--main-fz);
    line-height: 1.7142857143;
  }
}

.check__span {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check__imput:focus + .check__label .check__span {
  border-color: var(--active-link-color);
}
.check__imput:checked + .check__label .check__span {
  background-color: var(--active-link-color);
  border: none;
}

.check__icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check__imput:checked + .check__label .check__icon {
  fill: var(--tertiary-text-color);
}

.check__terms {
  color: var(--active-link-color);
}

.check__btn {
  padding: 10px 52px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}
.filter__btn {
  padding: 6px 22px;
  font-weight: var(--fw-medium);
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--tertiary-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--tertiary-text-color);
  background-color: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.examples__thumb {
  position: relative;
  overflow: hidden;
}

.examples__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  font-size: var(--special-fz);
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
@media screen and (min-width: 1200px) {
  .examples__description {
    padding: 63px 24px;
  }
}
.examples__link:hover .examples__description, .examples__link:focus .examples__description {
  transform: translateY(0);
  opacity: 1;
}

.examples__wrap {
  padding: 20px 24px;
  border-bottom: var(--secondary-border-features);
  border-left: var(--secondary-border-features);
  border-right: var(--secondary-border-features);
}

.examples__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples__demo {
  background: var(--primary-background-color);
  height: 404px;
}
@media screen and (min-width: 768px) {
  .examples__demo {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .examples__demo {
    width: calc((100% - 60px) / 3);
  }
}

.examples__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__link:hover, .examples__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.examples__name {
  font-weight: var(--fw-bold);
  font-size: var(--special-fz);
  line-height: 2;
  letter-spacing: 0.06em;
  height: 36px;
  color: var(--primary-text-color);
}

.examples__text {
  font-size: var(--auxiliary-fz);
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 4px;
}

.footer {
  padding: 60px 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .footer--flex {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer--flex {
    justify-content: flex-start;
  }
}

.logo__accent--inverse {
  color: var(--tertiary-text-color);
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
  }
}

.address {
  margin-top: 20px;
}
.address__list {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .address__list {
    margin-top: 9px;
  }
}
.address__item:last-child {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:last-child {
    margin-top: 9px;
  }
}
.address__text {
  font-style: normal;
  font-size: var(--main-fz);
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--footer-address-text-color);
  text-decoration: none;
}
.address__text--physical {
  color: var(--tertiary-text-color);
}

@media screen and (max-width: 767px) {
  .caller {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .subscription {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    position: absolute;
    top: 72px;
    right: 15px;
  }
}

.caller__title,
.subscription__title {
  font-weight: var(--fw-bold);
  font-size: var(--main-fz);
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
  margin-bottom: 20px;
}

.caller__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.caller__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.caller__link:hover, .caller__link:focus {
  background-color: var(--active-link-color);
}

.caller__icon {
  fill: var(--tertiary-text-color);
}

@media screen and (min-width: 1200px) {
  .subscription__wrap {
    display: flex;
  }
}

.subcription__email {
  padding: 15px 16px;
  background-color: transparent;
  max-width: 450px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--tertiary-text-color);
}
@media screen and (min-width: 1200px) {
  .subcription__email {
    margin-right: 12px;
    width: 358px;
  }
}
.subcription__email::placeholder {
  font-size: var(--auxiliary-fz);
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__btn {
  padding: 10px 31px;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .subscription__btn {
    padding: 10px 28px;
    margin: 0;
  }
}

.subscription__icon {
  margin-left: 12px;
}
@media screen and (min-width: 1200px) {
  .subscription__icon {
    margin-left: 10px;
  }
}/*# sourceMappingURL=main.css.map */