/* :root спільний для обох сторінок */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --tertiary-text-color: #ffffff;
  --logo-text-color: #2196f3;
  --accent-color: #000000;
  --active-link-color: #2196f3;
  --active-link-hero-color: #188ce8;
  --footer-address-text-color: #ffffff99;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #f5f4fa;
  --primary-border-features: 1px solid #ececec;
  --secondary-border-features: 1px solid #eeeeee;
}

/* body спільний для обох сторінок */

body {
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  margin: 0;
  padding: 0;
  outline: none;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Загальний контейнер */

.container {
  width: 100%;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--flex {
  display: flex;
  align-items: center;
}

/* Загальна кнопка */

.button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--tertiary-text-color);
  background-color: var(--active-link-color);

  cursor: pointer;
  border: transparent;
  border-radius: 4px;
}

/* Загальна секція */

.section {
  padding: 94px 0;
  margin: 0 auto;
}

/* Header спільний для обох сторінок */

.header {
  border-bottom: var(--primary-border-features);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(35.96 / 26);
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
  text-decoration: none;
}

.logo__accent {
  color: var(--accent-color);
}

.link-list {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 93px;
}

.link-list__name {
  position: relative;
}

.link-list__name:not(:last-child) {
  margin-right: 50px;
}

.link-list__item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-list__item:hover,
.link-list__item:focus {
  color: var(--active-link-color);
}

.link-list__item--current {
  color: var(--active-link-color);
}

.link-list__item--current::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-link-color);
}

.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-list__icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__item:hover,
.contact-list__item:focus {
  color: var(--active-link-color);
}

.contact-list__item:hover .contact-list__icon,
.contact-list__item:focus .contact-list__icon {
  fill: currentColor;
}

.contact-list__name:not(:last-child) {
  margin-right: 50px;
}

/* Сторінка "Студія" */

.hero,
.footer {
  background-color: var(--secondary-background-color);
}

.hero {
  padding: 200px 0;
  width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero/bg-hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
}
.hero__btn {
  padding: 10px 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--active-link-hero-color);
}

.benefit {
  padding-bottom: 0;
}

.benefit__list {
  display: flex;
  gap: 30px;
}

.benefit__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--tertiary-background-color);
}

.benefit__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.benefit__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.activities__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42.19 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin: 0 auto 50px;
}

.activities__list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.activities__thumb {
  position: relative;
}

.activities__text {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  height: 70px;

  color: var(--tertiary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.teem {
  background-color: var(--tertiary-background-color);
}
.teem__title,
.clients__title {
  margin: 0 auto 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42.19 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.teem__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.teem__card {
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teem__member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(18.75 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.teem__position {
  font-size: 16px;
  line-height: calc(18.75 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.teem__wrap {
  padding: 30px 0;
}

.network__list {
  display: flex;
  justify-content: center;

  gap: 10px;
}

.network__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network__link:hover,
.network__link:focus {
  background-color: var(--active-link-color);
}

.network__link:hover .network__icon,
.network__link:focus .network__icon {
  fill: var(--tertiary-text-color);
}

.network__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  background: var(--primary-background-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--active-link-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--active-link-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  height: 581px;
  width: 528px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: var(--primary-background-color);
  opacity: 1;
}

.close__btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  border-radius: 50%;
  outline: none;

  background-color: transparent;

  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close__icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.close__btn:focus .close__icon,
.close__btn:hover .close__icon {
  fill: var(--active-link-color);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--primary-text-color);
}

.form__wrap {
  display: flex;
  flex-direction: column;

  position: relative;
}

.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  fill: var(--active-link-color);
}

.form__input:focus,
.form__input:hover {
  border-color: var(--active-link-color);
}

.form__icon {
  position: absolute;
  bottom: 22px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.form__input {
  margin-bottom: 10px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.form__comment::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:focus,
.form__comment:hover {
  border-color: var(--active-link-color);
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 30px;
}

.check__label {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.chech__span {
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--accent-color);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__imput:checked + label .chech__span {
  background-color: var(--active-link-color);
  border: none;
}

.check__imput:checked + label .check__icon {
  fill: var(--tertiary-text-color);
}

.check__imput:focus + label .chech__span {
  border-color: var(--active-link-color);
}

.terms {
  text-decoration: none;
}

.terms__text {
  color: var(--active-link-color);
  text-decoration-line: underline;
}

.check__btn {
  padding: 10px 52px;
}

/* Строрінка Портфоліо */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter__btn {
  padding: 6px 22px;

  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--tertiary-background-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover,
.filter__btn:focus {
  color: var(--tertiary-text-color);
  background-color: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.examples__thumb {
  position: relative;
  overflow: hidden;
}

.examples__description {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: var(--tertiary-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.examples__link:hover .examples__description,
.examples__link:focus .examples__description {
  transform: translateY(0);
  opacity: 1;
}

.examples__wrap {
  padding: 20px 24px;
  border-bottom: var(--secondary-border-features);
  border-left: var(--secondary-border-features);
  border-right: var(--secondary-border-features);
}

.examples__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples__demo {
  background: var(--primary-background-color);

  flex-basis: calc((100% - 2 * 30px) / 3);
}

.examples__link:hover,
.examples__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.examples__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  height: 36px;
  color: var(--primary-text-color);
}

.examples__text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 4px;
}

/* Footer спільний для обох сторінок */

.footer {
  padding: 60px 0;
}

.footer--flex {
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.logo__accent--inverse {
  color: var(--tertiary-text-color);
}

.address {
  margin-top: 20px;
}

.address__list {
  margin-top: 9px;
}

.address__item:last-child {
  margin-top: 9px;
}

.address__text {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-address-text-color);
  text-decoration: none;
}

.address__text--physical {
  color: var(--tertiary-text-color);
}

.caller__title,
.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);

  margin-bottom: 20px;
}

.caller__list {
  display: flex;
  justify-content: center;

  gap: 10px;
}

.caller__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff1a;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.caller__link:hover,
.caller__link:focus {
  background-color: var(--active-link-color);
}

.caller__icon {
  fill: var(--tertiary-text-color);
}

.subscription {
  margin-left: auto;
}

.subscription__wrap {
  display: flex;
}

.subcription__email {
  padding: 15px 16px;
  margin-right: 12px;
  background-color: transparent;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--tertiary-text-color);
}

.subcription__email::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscription__btn {
  padding: 10px 28px;
}

.subscription__icon {
  margin-left: 10px;
}
