.activities {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.activities__title {
  font-weight: var(--fw-bold);
  font-size: var(--title-fz);
  line-height: calc(42.19 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin: 0 auto 50px;
}

.activities__list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.activities__thumb {
  position: relative;
}

.activities__text {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: var(--fw-bold);
  font-size: var(--main-fz);
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  height: 70px;

  color: var(--tertiary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
