.examples__thumb {
  position: relative;
  overflow: hidden;
}

.examples__description {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 77px 24px;

  font-size: var(--examples-fz);
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: var(--tertiary-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;

  .examples__link:hover &,
  .examples__link:focus & {
    transform: translateY(0);
    opacity: 1;
  }
}

.examples__wrap {
  padding: 20px 24px;
  border-bottom: var(--secondary-border-features);
  border-left: var(--secondary-border-features);
  border-right: var(--secondary-border-features);
}

.examples__list {
  display: flex;

  flex-wrap: wrap;
  gap: 30px;
}

.examples__demo {
  background: var(--primary-background-color);

  height: 404px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 2 * 30px) / 3);
  }
}

.examples__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.examples__name {
  font-weight: var(--fw-bold);
  font-size: var(--examples-fz);
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  height: 36px;
  color: var(--primary-text-color);
}

.examples__text {
  font-size: var(--auxiliary-fz);
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 4px;
}

// .examples__thumb {
//   position: relative;
//   overflow: hidden;
// }

// .examples__description {
//   position: absolute;
//   top: 0;
//   left: 0;

//   width: 100%;
//   height: 100%;
//   padding: 63px 24px;

//   font-size: var(--examples-fz);
//   line-height: calc(28 / 18);
//   letter-spacing: 0.03em;

//   color: var(--tertiary-text-color);
//   background-color: rgba(33, 150, 243, 0.9);

//   transform: translateY(100%);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   opacity: 0;

//   .examples__link:hover &,
//   .examples__link:focus & {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

// .examples__wrap {
//   padding: 20px 24px;
//   border-bottom: var(--secondary-border-features);
//   border-left: var(--secondary-border-features);
//   border-right: var(--secondary-border-features);
// }

// .examples__list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 30px;
// }

// .examples__demo {
//   background: var(--primary-background-color);

//   flex-basis: calc((100% - 2 * 30px) / 3);
// }

// .examples__link {
//   display: block;
//   text-decoration: none;
//   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   }
// }

// .examples__name {
//   font-weight: var(--fw-bold);
//   font-size: var(--examples-fz);
//   line-height: calc(36 / 18);
//   letter-spacing: 0.06em;
//   height: 36px;
//   color: var(--primary-text-color);
// }

// .examples__text {
//   font-size: var(--auxiliary-fz);
//   line-height: calc(30 / 16);
//   letter-spacing: 0.03em;
//   color: var(--secondary-text-color);
//   margin-top: 4px;
// }
