.filter {
  display: flex;
  flex-wrap: wrap;

  column-gap: 8px;
  row-gap: 15px;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  &__btn {
    padding: 6px 22px;

    font-weight: var(--fw-medium);
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--tertiary-background-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--tertiary-text-color);
      background-color: var(--active-link-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
