.form__wrap {
  display: flex;
  flex-direction: column;

  position: relative;
}

.form__icon {
  position: absolute;
  bottom: 22px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form__input:focus + &,
  .form__input:hover + & {
    fill: var(--active-link-color);
  }
}

.form__label {
  margin-bottom: 4px;
  font-size: var(--minute-fz);
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.form__input {
  margin-bottom: 10px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border-color: var(--active-link-color);
  }
}

.form__comment {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;

  &:focus,
  &:hover {
    border-color: var(--active-link-color);
  }
  &::placeholder {
    font-size: var(--minute-fz);
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 30px;
}

.check__label {
  display: flex;
  align-items: center;

  font-size: var(--minute-fz);
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);

  @media screen and (max-width: 479px) {
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    font-size: var(--main-fz);
    line-height: calc(24 / 14);
  }
}

.check__span {
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid var(--accent-color);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .check__imput:focus + .check__label & {
    border-color: var(--active-link-color);
  }

  .check__imput:checked + .check__label & {
    background-color: var(--active-link-color);
    border: none;
  }
}

.check__icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .check__imput:checked + .check__label & {
    fill: var(--tertiary-text-color);
  }
}

.check__terms {
  color: var(--active-link-color);
}

.check__btn {
  padding: 10px 52px;
}
