:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --tertiary-text-color: #ffffff;
  --logo-text-color: #2196f3;
  --accent-color: #000000;
  --active-link-color: #2196f3;
  --active-link-hero-color: #188ce8;
  --footer-address-text-color: #ffffff99;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #f5f4fa;
  --primary-border-features: 1px solid #ececec;
  --secondary-border-features: 1px solid #eeeeee;
  --main-fz: 14px;
  --auxiliary-fz: 16px;
  --title-fz: 36px;
  --hero-fz: 44px;
  --mobile-fz: 40px;
  --mobile-contacts-fz: 34px;
  --special-fz: 18px;
  --minute-fz: 12px;
  --occasional-fz: 26px;
  --title-mob-tab-fz: 28px;
  --mob-tab-fz: 24px;
  --modal-fz: 20px;
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-hero: 900;
}
